body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: auto;
    padding: 0px;
    height: 100%;
}

header {
    float: left;
    width: 100%;
    background-color: rgb(163, 219, 245);
    height: 130px;
}

.fix {
    position: fixed;
    left: 0;
    top: 50%;
    background-color: blue;
    width: 50px;
    height: 20px;
    color: white;
    padding: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: 0.4s;
    box-shadow: 5px 1px 30px 4px rgb(177, 199, 209);
}

.fix:hover {
    width: 60px;
    padding-left: 35px;
    transition: 0.4s;
}

#content {
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: -29px;
    margin-bottom: -21px;
    box-shadow: 8px 8px 20px 3px rgb(177, 199, 209);
}

section {
    display: table;
    background-color: rgb(228, 224, 224);
    min-height: 800px;
    width: 73%;
    float: left;
}

section a {
    color: darkblue;
    text-decoration: none;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section a:hover {
    color: rgb(8, 92, 43);
    font-size: 1.2em;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.5s;
    transform: rotate(5deg);
    text-shadow: 3px 2px rgb(243, 245, 248);
}

aside {
    background-color: rgb(177, 241, 211);
    min-height: 1401px;
    width: 25%;
    float: left;
    margin-left: 3px;
}

footer {
    background-color: rgb(163, 219, 245);
    height: 130px;
    float: left;
    width: 100%;
}

h1 {
    text-align: center;
    padding-top: 30px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

img {
    float: left;
    margin: 25px;
    width: 200px;
    height: 180px;
    transition: 0.5s;
    box-shadow: 8px 8px 20px 3px rgb(177, 199, 209);
}

img:hover {
    float: left;
    margin: 10px;
    width: 230px;
    height: 210px;
    transition: 0.5s;
    transform: rotate(5deg);
}

#liste {
    float: left;
    margin-left: 50px;
}

hr {
    width: 100%;
    float: left;
}

nav {
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
}

nav ul li {
    background-color: rgb(163, 219, 245);
    display: inline-block;
    padding: px;
    list-style: none;
}

nav ul li a {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 20px 5px 20px;
    color: rgb(11, 100, 33);
    text-decoration: none;
    transition: 0.5s;
    font-weight: 700;
}

nav ul li a:hover {
    background-color: rgb(163, 219, 245);
    color: rgb(255, 255, 255);
    border-radius: 0px;
    transition: 0.3s;
    box-shadow: 1px 4px 15px 1px #555;
}

.box {
    display: table-row;
}

table {
    background-color: bisque;
    text-align: center;
    margin: auto;
}

table td {
    background-color: rgb(243, 211, 170);
    padding: 6px 15px;
}

table th {
    background-color: rgb(236, 201, 156);
    padding: 6px 15px;
}

form {
    background-color: lightblue;
    margin-left: 30%;
    width: 38%;
    float: inline-start;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 15px;
    float: left;
}

form label,
input {
    float: left;
}

form p {
    font-size: 14px;
    text-align: left;
    float: left;
}

form h5 {
    float: left;
    width: 120px;
}

form textarea {
    float: left;
    margin-top: 15px;
    width: 97%;
    min-height: 100px;
}

form button {
    transition: 0.3s;
}

form button:hover {
    box-shadow: 3px 3px 10px 2px rgb(104, 123, 131);
    transition: 0.3s;
}