/* latin-ext */

@font-face {
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    src: local('Crete Round'), local('CreteRound-Regular'), url(https://fonts.gstatic.com/s/creteround/v8/55xoey1sJNPjPiv1ZZZrxK110b3wKg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    src: local('Crete Round'), local('CreteRound-Regular'), url(https://fonts.gstatic.com/s/creteround/v8/55xoey1sJNPjPiv1ZZZrxK170b0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: auto;
    padding: 0px;
    height: 100%;
}

header {
    float: left;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 130px;
}

header h1 {
    font-family: 'Crete Round';
    float: left;
    font-size: 50px;
    margin-left: 26%;
    margin-top: 33px;
}

header img {
    width: 350px;
    margin-top: -25px;
    margin-left: -100px;
}

h2 {
    text-align: center;
}

section {
    height: 100%;
    width: 100%;
    margin: auto;
    float: left;
}

#banner {
    position: relative;
    margin-bottom: 80px:
}

#banner img {
    margin-bottom: 60px;
    height: 580px;
}

.banner {
    position: absolute;
    padding-left: 36%;
    margin-top: 100px;
    color: rgb(53, 59, 61);
}

.banner h2 {
    font-size: 50px;
    margin-bottom: -50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.banner h1 {
    font-size: 50px;
}

.banner a {
    text-decoration: none;
    padding: 10px;
    width: 50px;
}

.bannerbtn {
    background-color: rgb(209, 157, 14);
    font-size: 15px;
    width: 48px;
    border-radius: 4px;
    padding: 12px 27px;
    color: white;
    margin: auto;
}

#box {
    margin-left: 25%;
    margin-right: auto;
    margin-top: 30px;
}

.box {
    width: 240px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    display: table-cell;
}

.box p {
    font-size: 12px;
    color: rgb(83, 97, 97);
    line-height: 20px;
}

.box img {
    width: 33%;
    position: initial;
    margin-left: 33%;
    margin-bottom: 26px;
}

article {
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    overflow: auto;
    display: table;
}

table {
    width: 65%;
    margin: auto;
    margin-bottom: 50px;
    height: 240px;
}

hr {
    width: 60%;
}

table img {
    border-radius: 10px;
    width: 420px;
}

.image {
    display: inline-table;
    width: 370px;
    position: relative;
}

.image img {
    border-radius: 10px;
}

.article1 {
    width: 50%;
    height: 260px;
    background-color: white;
    text-align: center;
    margin-top: -20px;
    padding-top: 20px;
    float: left;
    position: absolute;
}

.article1 p {
    width: 170px;
    padding-left: 20px;
    font-size: 12px;
    color: rgb(83, 97, 97);
    line-height: 20px;
}

.article1 a {
    text-decoration: none;
    width: 50px;
}

.button {
    background-color: rgb(223, 165, 7);
    font-size: 13px;
    width: 100px;
    height: 20px;
    border-radius: 4px;
    padding-top: 5px;
    color: white;
    margin: auto;
    clear: both;
}

footer {
    background-color: rgb(53, 59, 61);
    height: 200px;
    float: left;
    width: 100%;
}

footer h1 {
    text-align: center;
    padding-top: 30px;
    font-family: 'Crete Round';
    font-size: 40px;
    color: white;
}

footer p {
    color: white;
    text-align: center;
    font-size: 12px;
}

img {
    float: left;
    width: 100%;
    transition: 0.5s;
}

nav {
    float: left;
    margin-top: 40px;
    margin-left: 180px;
}

nav ul li {
    float: left;
    list-style: none;
}

nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 5px 20px 5px 20px;
    color: rgb(11, 100, 33);
    text-decoration: none;
    transition: 0.5s;
    font-weight: 700;
}

form {
    margin-left: 38%;
    margin-bottom: 50px;
    font-weight: bold;
}

form button {
    width: 30px;
    height: 28px;
    background-color: cornflowerblue;
    padding: 3px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

form input {
    height: 22px;
}